{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

<div>
    <h1>Welcome to Gala Fest</h1>
    <form  method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Name</legend>
            <input type="text" name="username" id="name" value="{{user.username}}"><br>
        </fieldset>
        <fieldset>
            <legend>E-mail</legend>
            <input type="email" name="email" id="mail" value="{% if user.email == 'a@g.c' %}{% else %}{{ user.email }}{% endif %}">


        </fieldset>
        <fieldset>
            <legend>Phone No</legend>
            <input type="tel" name="phone" id="phone" value="{{user.phone}}"><br>
        </fieldset>
        <fieldset>
           
            <legend>Role</legend>
            <section id="roles">
            <input type="radio" name="role"  {% if user.role == 'student' %}checked{% endif %} id="student" value="student" name="role" >
            <label  for="student">Students</label><br>
            <input type="radio" {% if user.role == 'staff' %}checked{% endif %} name="role" value="staff" id="staff">
            <label for="staff">Staff</label><br>
            <input value="admin"  {% if user.role == 'admin' %}checked{% endif %} type="radio" name="role" id="admin">
            <label for="admin">Admin</label><br>
        </fieldset>
    </section>
        <fieldset>
            <legend>Comments</legend>
            <textarea name="comments" id="comments" cols="40" rows="5">{{ user.comments }}</textarea>

        </fieldset>
        <fieldset>
            <legend>Interested Celebrities</legend>
            <section id="celebrity">
            <input value="Abdul Kalam" type="checkbox" name="celebrities" id="ak" {% if "Abdul Kalam" in user.celebrities %}checked{% endif %}>
            <label for="ak">Abdul Kalam</label><br>
            <input value="kamarajar"  type="checkbox" name="celebrities" id="kr" {% if "kamarajar" in user.celebrities %}checked{% endif %}>
            <label for="kr">Kama Rajar</label><br>
            <input value="nikola tesla"  type="checkbox" name="celebrities" id="nt" {% if "nikola tesla" in user.celebrities %}checked{% endif %}>
            <label for="nt">Nikola Tesla</label><br>
            <input value="others" type="checkbox" name="celebrities" id="others" {% if "others" in user.celebrities %}checked{% endif %}>
            <label for="others">Others</label><br>
            </section>
        </fieldset><br>
        <button type="submit">Submit</button>
    </form>
</div>

<script>
   
</script>

    

</body>
</html>
